@import '../../../../index.scss';
.headerAuth{
  display: inline-block;
  & button:nth-child(2){
    margin: 0 0 0 22px;
  }
  &__user{
    font-size: 14px;
    color: $darkShade-50;
    padding: 0 0 0 31px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 11px;
      width: 1px;
      height: 30px;
      transform: translate(0, -25%);
      @include colorDarkShade(background, 0.1);
    }
  }
}