.button {
  border-radius: 22px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #BC9CFF;
  padding: 10px 20px;
  margin: 0 0 0 10px;
  border: none;
  //
  //&:hover {
  //  opacity: 0.5;
  //}

  &_painted_false {
    background: #FFFFFF;
    position: relative;
    padding: 8px 18px;
    margin: 0 0 0 16px;
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
      z-index: -1;
    }
  }

  &_painted_true {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
  }
}