@import "../../../index.scss";

.nav {
  display: inline-flex;

  &__item {
    list-style: none;
    font-size: 14px;
    color: $darkShade-50;
    margin: 12px 10px;
    & img{
      margin: 0 5px 0 8px;
    }
  }
}

.enabled {
  color: $darkShade-100;
  font-weight: 700;
}